Repository denistort/cinema-db: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:prettier-fix, yarn lint:eslint-fix, yarn test:editorconfig, git add -A ., yarn lint:styles

.lintstagedrc:

{
	"*.{js,jsx,ts,tsx,md,html}": [
		"yarn lint:prettier-fix",
		"yarn lint:eslint-fix",
		"yarn test:editorconfig",
		"git add -A ."
	],
	"*.{css,scss}": ["yarn lint:styles"]
}

test: pre-commit
  .eslintrc.cjs
  .lintstagedrc
  index.html
  package.json
  src/App.css
  src/App.tsx
  src/Test.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: yarn lint:prettier-fix, yarn lint:eslint-fix, yarn test:editorconfig, git add -A ., yarn lint:styles

add: libraries for testing purpose
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc
  package.json
  src/App.test.tsx
  src/App.tsx
  vite.config.ts
  yarn.lock
Due: yarn lint:prettier-fix, yarn lint:eslint-fix, yarn test:editorconfig, git add -A .

created build and test ci
  .github/workflows/main.yml
Due: none

add: github actions
  .github/workflows/main.yml
Due: none

add: github actions
  .github/workflows/main.yml
  package.json
  yarn.lock
Due: none

add: github actions
  .github/workflows/main.yml
  package.json
Due: none

add: pull_request deploy development
  .github/workflows/pull_request_dev.yml
Due: none

add: counter test functionality
  .github/workflows/main.yml
  .github/workflows/pull_request_dev.yml
  src/App.tsx
  src/Counter.test.tsx
  src/Counter.tsx
Due: yarn lint:prettier-fix, yarn lint:eslint-fix, yarn test:editorconfig, git add -A .

add: counter test functionality
  package.json
  yarn.lock
Due: none

add: counter test functionality
  .github/workflows/pull_request_dev.yml
Due: none

fix: pull_request_dev.yml
  .github/workflows/pull_request_dev.yml
Due: none
